[submodule "extern/cmsis_device_f4"]
	path = extern/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "extern/stm32f4xx_hal_driver"]
	path = extern/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "examples/examples/lvgl-demo/lvgl"]
	path = examples/examples/lvgl-demo/lvgl
	url = https://github.com/lvgl/lvgl.git
